body {
  font-family: "Open Sans", sans-serif;
}
/* navbar style */
.primary-color {
  color: #fd6e0a;
}
.primary-btn {
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  border: 0;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 600;
}
nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* banner section */

.header {
  /* border: 2px solid red; */
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner-container {
  /* border: 2px solid black; */
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  /* border: 2px solid red; */
  max-width: 500px;
}
.banner .profile-pic {
  width: 300px;
}
.banner-greeting {
  /* border: 2px solid green; */
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  /* border: 2px solid aqua; */
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-desc {
  margin-top: 30px;
}

/* about section */
.about {
  border: 2px solid black;
  background: #fff8f3;
  padding: 130px;
  margin: 130px 0;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-desc {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.sec {
  border: 2px solid red;
}
#what-i-do-padding {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  /* border: 2px solid black; */
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-desc {
  color: #757575;
}

.resume {
  border: 2px solid red;
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-item-institute,
.resume-item-desc {
  color: #757575;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-institute {
  margin-bottom: 10px;
  margin-top: 0px;
}
.resume-container hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}

/* footer style */
footer {
  border: 2px solid black;
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 200px;
}
.footer-column {
  border: 2px solid red;
  width: 50%;
}
.social-links a{
  margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 30px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}

